.menu-btn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 10px;
  cursor: pointer;
  transition: all 0.8s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    border-radius: 3px;
    background: white;
    transition: all 0.8s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(135deg) translate(-6px, 7px); }

.menu {
  position: absolute;
  opacity: 0.8;
  width: 25%;
  top: -8px;
  right: 0;
  visibility: hidden;
  background: #707070;
  height: 100vh;
  margin: 0;
  padding: 0;
  transform: translate3d(100%, 0, 0);
  transition: all 0.8s ease-out; }
  .menu.show {
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  .menu-pic {
    height: 25%;
    padding: 40px 0 0 0;
    margin: 0; }
    .menu-pic .my-pic {
      width: 200px;
      height: 200px;
      background: url(/dist/img/me-pic.png);
      border-radius: 50%;
      border: solid 3px gold;
      background-position: center;
      background-size: cover;
      margin: auto; }
  .menu-nav {
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    font-size: 2.5rem;
    margin: 0; }
    .menu-nav .nav-item {
      padding: 5px 0; }
      .menu-nav .nav-item.current > a {
        color: gold; }
      .menu-nav .nav-item .nav-link:hover {
        color: gold;
        transition: all 0.5s ease-out; }
  .menu-contact {
    text-align: center;
    height: 25%;
    padding: 0;
    font-size: 1.3rem; }
    .menu-contact .cont-list {
      list-style-type: none;
      font-size: 1.3rem;
      padding: 0; }
