.menu-btn{
    
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 20px;
    cursor: pointer;
    transition: all 0.8s ease-out;

    .btn-line{
        width: 35px;
        height: 3px;
        margin: 0 0 5px 0;
        border-radius: 3px;
        background: white;
        transition: all 0.8s ease-out;
    }

    &.close {
        transform: rotate(180deg);
        .btn-line{
            &:nth-child(1){
                transform: rotate(45deg) translate(5px ,5px)
            }

            &:nth-child(2){
                opacity: 0;
            }

            &:nth-child(3){
                transform: rotate(135deg) translate(-6px ,7px);
            }

        }
    }
}

.menu {
    position: absolute;
    opacity: 0.97;
    width: 25%;
    top: 0px;
    right: 0;
    visibility: hidden;
    background-image: linear-gradient(darkgray, #303030);
    height: 100vh;
    margin: 0;
    padding: 0;
    transform: translate3d(100%,0,0);
    transition: all 0.8s ease-out;

    &.show{
        transform: translate3d(0,0,0);
        visibility: visible;
    }

    &-pic{
        height: 25%;
        padding: 40px 0 0 0;
        margin: 0;
        .my-pic{
            width: 200px;
            height: 200px;
            background: url(/dist/img/me-pic.png);
            border-radius: 50%;
            border: solid 3px gold;
            background-position: center;
            background-size: cover;
            margin: auto;
        }
    }
    &-nav {
        height: 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
        .nav-item {
            padding: 5px 0;
            &.current > a{
                color: gold;
            }
            .nav-link:hover{
                color: gold;
                transition: all 0.5s ease-out;
            }
        }
    }
    &-contact {
        text-align: center;
        height: 25%;
        padding: 0;
        font-size: 1.3rem;
        .cont-list {
            list-style-type: none;
            font-size: 1.3rem;
            padding: 0;
        }
    }
}